file.terms
seek.terms
vocabulary.terms
file.index
inverted.index
output/

###########
#  CMAKE  #
###########
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#############
#	XCode	#
#############